// Use this file to set SASS variables for @edx/paragon
// See _variables.scss in https://github.com/openedx/paragon/blob/master/scss/core/ for reference
$primary: #34a9dd !default; // elm
$brand: #34a9dd !default;
$secondary: #34a9dd !default;
$info: #34a9dd !default;